<aside class="app-sidebar">
	<div class="app-sidebar__brand">
		<span class="app-sidebar__mark"></span>
		<span>DEMO VMS</span>
	</div>

	<div class="app-sidebar__label">Modules</div>

	<nav class="app-sidebar__nav">
		<a routerLink="/dashboard" routerLinkActive="is-active">
			<svg viewBox="0 0 24 24" width="18" height="18"><use href="#i-dash"></use></svg>
			Dashboard
		</a>
		<a routerLink="/locations" routerLinkActive="is-active">
			<svg viewBox="0 0 24 24" width="18" height="18"><use href="#i-pin"></use></svg>
			Locations
		</a>
		<a routerLink="/vending-machines" routerLinkActive="is-active">
			<svg viewBox="0 0 24 24" width="18" height="18"><use href="#i-machine"></use></svg>
			Vending Machines
		</a>
		<a routerLink="/products" routerLinkActive="is-active">
			<svg viewBox="0 0 24 24" width="18" height="18"><use href="#i-box"></use></svg>
			Products
		</a>
	</nav>

	<div class="app-sidebar__footer">
		<svg viewBox="0 0 24 24" width="20" height="20"><use href="#i-user"></use></svg>
		Back office · Admin
	</div>
</aside>
